{% extends "core/layout/login.html" %}
{% load static %}

{% block ContentPage %}

    <div class="container-md">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <div class="card">
                                <div class="card-body p-0 auth-header-box">
                                    <div class="text-center p-1">
                                        <img src="{% static 'assets/images/default/default-icon-sm.png' %}"
                                             height="50" alt="logo"
                                             class="auth-logo">
                                        <h4 class="mt-3 mb-1 fw-semibold text-white font-18"> لرن هاب</h4>
                                        <h4 class="font-14 text-light ">{{ Err }}</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="ex-page-content text-center">
                                        <img src="{% static 'assets/images/default/error.svg' %}" alt="..." class=""
                                             height="300">
                                        <h6 class="mt-5 mb-5"></h6>

                                        <h4 class="badge badge-soft-danger fw-semibold mb-2 font-14"> {{ exception }}</h4>

                                    </div>
                                    <a class="btn btn-primary w-100" href="/">بازگشت به داشبورد <i
                                            class="fas fa-redo ml-1 " style="transform: rotateY(180deg);"></i></a>
                                </div><!--end card-body-->
                                <div class="card-body bg-light-alt text-center">
                                    &copy;
                                    LearnHub
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end card-body-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->


{% endblock %}

{% block Javascript %}
    {% include "core/include/script.html" %}
{% endblock %}